*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  margin-left: 10%;
  margin-right: 10%;
}

h2{
  font-size: 1.3em;
}

.full-width{
  width: 100%;
}
.half-width{
  width: 50%;
}
.fifth-width{
  width: 20%;
}

.full-height{
  height: 100%;
}
.half-height{
  height: 50%;
}
.fifth-height{
  height: 20%;
}

.flexColumn{
  display: flex;
  flex-direction: row;
}

textarea {	
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;	
  width: calc(100% - 1.5em);
  height:  calc(100% - 1.5em);
  }



#page-grid{
  display: grid;
  grid-template-areas: 
    "selector overview"
    "taxonomy taxonomy"
    "parameters parameters"
    "inputs output"
    "details details"
    "pricing pricing";
  grid-gap: .8em .5em;
  background: rgb(255, 253, 231);
  padding: 1.2em;
}

.module{
  background: #ffffff;
  padding: 10px;
  border: 2px solid rgb(18, 19, 85);
  border-radius: 5px;
}


  #selector {
    grid-area: selector;
    background: #ddffec;
  }
  #overview {
    height: 10vh;
    grid-area: overview;
  }
  #taxonomy {
    height: 10vh;
    grid-area: taxonomy;
  }
  #parameters {
    height: 10vh;
    grid-area: parameters;
  }
  #inputs {
    height: 10vh;
    grid-area: inputs;
  }
  #output {
    height: 10vh;
    grid-area: output;
  }
  #details {
    height: 10vh;
    grid-area: details;
  }
  #pricing {
    height: 10vh;
    grid-area: pricing;
  }